dash==2.8.0
dash-extensions==0.1.11
dash-bootstrap-components==0.13.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
gunicorn==20.1.0
Django==3.2.14
gunicorn==20.1.0
joblib==0.16.0
numpy==1.23.4
pandas==1.3.5
pickleshare==0.7.5
plotly==5.9.0
Cython==0.29.33
tqdm==4.46.1
urllib3==1.26.9
boto3==1.24.89
botocore==1.27.89
dash-uploader==0.6.0
packaging==21.3
s3transfer==0.6.0
celery==5.2.7
rq==1.11.1
redis==4.3.4
requests==2.27.1
diskcache==5.4.0
psutil==5.9.0
matplotlib==3.5.2
matplotlib-inline==0.1.3
fast-histogram==0.11
kaleido==0.2.1
regex==2022.10.31
seaborn==0.12.2
opt-einsum==3.3.0
patsy==0.5.3
google==3.0.0
protobuf==4.21.12
tensorflow==2.12.0rc1
comm==0.1.2
seaborn==0.12.2
regex==2022.10.31
networkx==3.0
python-louvain==0.16
phate==1.0.10
#scikit-learn==0.22.1